body {
    padding: 20px;
    background-color: #f8f9fa;
    font-family: Helvetica, Arial, sans-serif;
}
#charts-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 20px;
}
.chart-container {
    width: 95%;
    position: relative;
}
.chart-label {
    text-align: left;
    font-weight: bold;
    margin-bottom: 5px;
    display: inline-block;
}
h2 {
    text-align: center;
}
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
#config-tab-arrow {
    margin-right: 15px;
    font-weight: bold;
    font-size: 25px;
}
#config-tab {
    position: absolute;
    top: 10%;
    right: 365px;
    transform: translateY(-50%) rotate(-90deg);
    transform-origin: right center;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
    white-space: nowrap;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
#config-panel {
    position: fixed;
    top: 0;
    right: -350px;  /* Hidden off-screen */
    width: 300px;
    height: 100vh;
    background-color: #f4f4f4;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    transition: right 0.3s;
    padding: 20px;
    border-left: 2px solid #007bff;
}
#config-panel h3 {
    margin-top: 0;
}
.process-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.process-item input[type="checkbox"] {
    margin-right: 10px;
}
.chart-header-container {
    display: flex;
    align-items: center;
}
.chart-header-container span {
    margin: 8px 8px 8px 1px;
}
.expander {
    font-size: 14px;
    color: blue;
    margin-bottom: -4px;
    cursor: pointer;
}
.bullet-red {
    font-size: 26px;
    color: red;
}
.bullet-yellow {
    font-size: 26px;
    color: khaki;
}
.bullet-green {
    font-size: 26px;
    color: green;
}
.title-text {
    font-size: 16px;
    color: black;
}

